$primaryfont-family: 'Varela Round', sans-serif;
$font-XL: 32px;
$font-L: 26px;
$font-M: 18px;
$font-S: 12px;
$sercondaryfont-family: "Dancing Script", cursive;
$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
);